#root{
    margin: 0;
    padding: 0;
    width: 100% !important;
    max-width: 1024px;
    margin: auto;
}

body{
    margin: 0;
    padding: 0;
    width: 100% !important;
    background-color: white;
}

.home-container{
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    text-align: left;
    margin-left: 20px;
}

.home-welcome-container{
    h1{
        margin: 0px;
    }
}

.home-projects-container{
    border: 1px solid orange;
    text-align: left;
    padding: 20px;
    height: 80vh;
    h3{
        margin: 0;
        margin-bottom: 30px;
    }
}

.home-projects-list{
    list-style: none;
    padding: 0;
    margin: 5px;
    li{
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
        }
    }
}

.home-main-projects-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.project-container{
    border: 1px solid orange;
    width: 80%;
    padding-left: 30px;
}

.date-info{
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    margin: 0px;
    margin-right: 20px;
    /* margin-bottom: 20px; */
    &:last-child{
        border-bottom: 1px solid grey;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.project-title{
    margin-bottom: 5px;
}

.project-description{
    /* border-top: 1px solid grey; */
    margin-right: 20px;
    padding-top: 10px;
}

p{
    font-size: normal;
    font-weight: normal;
}

.project-tasks-list{
    list-style: square;
    padding: 0;
    margin: 5px;
    li{
        margin-bottom: 10px;
        font-weight: normal;
    }
}

.project-description-textarea{
    width: 90%;
    height: 150px;
    resize: none;
    font-size: 0.8em;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
}